<%- include("partials/header") %>

    <main id="details">

      <h1>Pokemon info</h1>
        
      <section id="detail">
                
        <article>
            <article>
                <h2><%= pokemon.name%> </h2>
                <img id="detail-foto" src="<%= pokemon.sprites.other["official-artwork"].front_default %>" alt="foto van Bulbasaur">
                <figcaption>https://pokeapi.co/</figcaption>
                    
                <form action="">
                    <input type="text" placeholder="bijnaam">
                    <button>geef bijnaam</button>
                </form>
            </article>

            <article id="info">
                <h2>Pokédex data</h2>

                
                <section id="detail-list">
                    <ol>
                        <li>    </li>
                        <li><%= pokemon.stats[0].stat.name %></li>
                        <li><%= pokemon.stats[1].stat.name %></li>
                        <li><%= pokemon.stats[2].stat.name %></li>
                        <li><%= pokemon.stats[3].stat.name %></li>
                        <li><%= pokemon.stats[4].stat.name %></li>
                        <li><%= pokemon.stats[5].stat.name %></li>
                        
                        <li>    </li>
                        <li>Type: </li>
                        <li>Hoogte:</li>
                        <li>Gewicht:</li>
                        <li>Capaciteiten:</li>
                        <li>Gevangen op:</li>
                            
                        
                    </ol>

                    <ol id="detail-values">
                        <li>    </li>
                        <li><%= pokemon.stats[0].base_stat %></li>
                        <li><%= pokemon.stats[1].base_stat %></li>
                        <li><%= pokemon.stats[2].base_stat %></li>
                        <li><%= pokemon.stats[3].base_stat %></li>
                        <li><%= pokemon.stats[4].base_stat %></li>
                        <li>    </li>
                        <li><%= pokemon.stats[5].base_stat %></li>

                        <li></li>
                        <li><%= pokemon.types[0].type.name %></li>
                        <li><%= pokemon.height %> m</li>
                        <li><%= pokemon.weight %> kg</li>
                        <li><%= pokemon.abilities[0].ability.name%></li>
                        <li>20/3/2024</li>
                    </ol>
                </section> 
            </article>
        </article>


        <article id="evo-article">
                
            <h2>Evolution Path</h2>

            <section id="evolution">

                <li>
                   <a href="/detail/<%= evo1.id %>"> <img src="<%= evo1.sprites.other["official-artwork"].front_default  %>" alt=""></a>
                </li>
                <li>
                    <img class="arrow" src="/assets/images/right-arrow.png" alt="" height="70px"></li>
                 <li>
                    <a href="/detail/<%= evo2.id %>"> <img src="<%= evo2.sprites.other["official-artwork"].front_default  %>" alt=""> </a>
                </li>
                
                <%- if(nummer3 == true){%>

                <li>
                    <img class="arrow" src="/assets/images/right-arrow.png" alt="" height="70px"></li>
                    
                         <li>
                    <a href="/detail/<%= evo3.id %>">  <img src="<%= evo3.sprites.other["official-artwork"].front_default  %>" alt=""> </a>
                    </li>
                <%-}%>
                  
                 
               

            </section>
        </article>
      </section>
    </main>

<%- include("partials/footer") %>

</body>
</html>