<%- include("partials/header") %>

<main name="dex" id="pokedex">

    <h1>Pokédex</h1>

    <select name="" id="select-pokemon">
      <option value="0">Jouw Pokémon</option>
      <option value="1">Alle Pokémon</option>
    </select>

    <form role="search" action=" /filter" method="GET"  id="zoek-pokemon">
      <input type="text" placeholder="Search.." name="query">
      
  <button type="submit">Search</button>
    </form>

    <section id="pokemon">
      
          <button onclick="topFunction()" href="#pokemon" id="myBtn" title="Go to top" >top</button>
      
      <%for(let pokemon of pokemons) {%>
        <article>
          <a class="pokemon-image" href="/detail/<%= pokemon.id %>"> %> <img src="<%= pokemon.sprites.other["official-artwork"].front_default %> " alt=""></a>
          <p><%=pokemon.name %></p>
        </article>
      <% } %>

    </section>
  </main>

<%- include("partials/footer") %>