<%- include("partials/header") %>

    <main class = "pokevanger_main">
        <h2>Gotta Catch 'Em All</h2>
        <section id = "pokevanger_bgcontainer">
            <div id = "pokevanger_bg">
                <form action = "/safari/<%= spawn1.id%>" method = "get">
                    <input type = "text" name = "spawn_check" value = "<%= spawn1.id %>">
                    <button type = "submit" id = "spawn_one"><img src="<%= spawn1.sprite%>" alt = "ditto sprite" class = "pokemon_catch"></button>
                </form>
                <form action = "/safari/<%= spawn2.id%>" method = "get">
                    <input type = "text" name = "spawn_check" value = "<%= spawn2.id %>">
                    <button type = "submit" id = "spawn_two"><img src="<%= spawn2.sprite%>" alt = "ditto sprite" class = "pokemon_catch"></button>
                </form>
                <form action = "/safari/<%= spawn3.id%>" method = "get">
                    <input type = "text" name = "spawn_check" value = "<%= spawn3.id %>">
                    <button type = "submit" id = "spawn_three"><img src="<%= spawn3.sprite%>" alt = "ditto sprite" class = "pokemon_catch"></button>
                </form>
                <form action = "/safari/<%= spawn4.id%>" method = "get">
                    <input type = "text" name = "spawn_check" value = "<%= spawn4.id %>">
                    <button type = "submit" id = "spawn_four"><img src="<%= spawn4.sprite%>" alt = "ditto sprite" class = "pokemon_catch"></button>
                </form>
            </div>
        </section>
        <% if (spawn.succes) { %>
            <section id = "container_pokevanger_menu">
                <article class = "pokevanger_menu">
                    <form action = "/catchMenu" method = "get">
                    <% if (!spawn.caught) { %>
                    <button class = "pokeball_button_red">
                        <img src="<%= spawn.id %>/assets/images/iconPokeball.webp" alt = "pokeball" width="40" height="40">
                    </button>
                    <% } %>
                    </form>
                    <% if (spawn.caught) { %>
                        <button class = "pokeball_button_green">
                            <img src="<%= spawn.id %>/assets/images/iconPokeball.webp" alt = "pokeball" width="40" height="40">
                        </button>
                    <% } %>
                    <h3><%= spawn.name %></h3>
                    <img src="<%= spawn.sprite %>" alt = "ditto sprite" class = "pokevanger_menu_image" width="150" height="150">
                    <p>Type: <span><%= spawn.type1 %></span></p>
                    <p>lv: <span><%= spawn.level%></span></p>
                    <form action = "/run" method = "post"> 
                        <button type = "submit" id = "run_button">
                            <img src = "<%= spawn.id %>/assets/images/pokemonRunButton.webp" alt = "run">
                        </button>
                        </form>
                </article>
            </section>
        <% } %>
        <% if (spawn.succes2) { %>
        <section id = "container_pokevanger_image">
            <article class = "pokevanger_image">
                <div id = "pokevanger_bgfield">
                    <% if(succes == "none") { %>
                        <img src="<%= spawn.sprite%>" alt = "pokemon sprite" width="150" height="150">
                    <% } %>
                    <% if(succes == "succes") { %>
                        <p id = "catch_text">Gevangen!</p>
                    <% } %>
                    <% if(succes == "missed") { %>
                        <p id = "missed_text"><%= spawn.name %> escaped!</p>
                    <% } %>
                    <p id = "pokeballs">pokéballs: <span id = "amount_balls"><%= spawn.pokeballs %></span></p>
                </div>
                <form action = "/catchMenu" method = "post">
                <% if(succes == "none") { %>
                    <button type = "submit" id = "catch_button">
                <% } %>
                <% if(succes != "none") { %>
                    <button type = "button" id = "catch_button">
                <% } %>
                        <img src="assets/images/iconPokeball.webp" alt = "pokeball">
                    </button>
                </form>
                <form action = "/run" method = "post"> 
                <button type = "submit" id = "run_button">
                    <img src = "assets/images/pokemonRunButton.webp" alt = "run">
                </button>
                </form>
            </article>
        </section>
        <% } %>
        <section id = "container_confirmation_release">
            <form class = "confirmation_release" action = "/confirmationRelease" method = "post">
                <p>Ben je zeker dat je deze pokémon wil vrijlaten?</p>
                <input type = "submit" id = "yes" name = "yes" value = "ja">
                <input type = "submit" id = "yes" name = "no" value = "nee">
            </form>
        </section>
    </main>

<%- include("partials/footer") %>